remote_theme: daattali/beautiful-jekyll
plugins:
- jekyll-remote-theme
- jekyll-paginate
- jekyll-sitemap

title: Queensland Government Cyber Defence Centre
author: CTI Team

navbar-links:
  Resources:
    - QGov Website: "https://www.qld.gov.au"
    - CDC Email: "mailto:cdc@qld.gov.au"
  Google: "https://www.google.com"

avatar: "https://www.qldmentalhealthweek.org.au/wp-content/uploads/2022/06/Queensland-Government-logo.png"
round-avatar: true

social-network-links:
  email: "someone@example.com"
  rss: true  # remove this line if you don't want to show an RSS link at the bottom
  facebook: deanattali
  github: daattali
  twitter: daattali
  patreon: DeanAttali
  youtube: c/daattali
  telephone: +61700000000
  linkedin: qldgov
rss-description: a feed of items

navbar-col: "#EAEAEA"
navbar-text-col: "#404040"
navbar-border-col: "#DDDDDD"
page-col: "#FFFFFF"
text-col: "#404040"
link-col: "#008AFF"
hover-col: "#0085A1"
footer-col: "#EAEAEA"
footer-text-col: "#777777"
footer-link-col: "#404040"
footer-hover-col: "#0085A1"

